.li {
  display: flex;
  background-color: white;
  width: 550px;
  height: 65px;
  font-weight: 200;
  border-bottom: none;
  list-style: none;
}

.hidden {
  display: none;
}

.li__text--crossed{
  text-decoration: line-through;
  color:  #e6e6e6;
}

.li__checkbox {
  visibility: hidden;
}

.li__checkbox[type="checkbox"]::before {
  visibility: visible;
  margin: 15px 0 0 10px;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.li__checkbox[type="checkbox"]:checked::before {
  visibility: visible;
  content: "\2713";
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  color: #66bb6a;
}

.li__text {
  margin-left: 30px;
  width: 430px;
  text-align: left;
  align-self: center;
  word-break: break-all;
}

.li__input {
  height: 60px;
  width: 476px;
  border: 1px solid gray;
  box-shadow: 0 0 10px lightgray;
  padding-left: 10px;
  margin-left: 30px;
  font-size: 24px;
}

.li__input:focus {
  outline: none;
}

.li__button {
  align-self: center;
  border: none;
  background-color: white;
  font-size: 35px;
  color: #cc9a9a;
  display: none;
}

.li__button:focus {
  outline: none;
}

.li:hover .li__button {
  display: block;
}
