.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 530px;
  background-color: white;
  height: 50px;
  align-items: center;
  margin: 0 auto;
  border: 1px solid lightgray;
  font-size: 14px;
  color: #777;
  font-weight: 200;
}

.footer__filter {
  display: flex;
  list-style: none;
}

.footer__filter__tab {
  margin-right: 10px;
  border: 1px solid transparent;
  padding: 3px 7px;
}

.footer__filter__tab:hover {
  border: 1px solid #cc9a9a;
  cursor: pointer;
}

.footer__clear:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}
